streamlit==1.35.0
tensorflow==2.15.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
Pillow==10.3.0
opencv-python-headless==4.10.0.84
reportlab==4.2.2
h5py==3.11.0
protobuf==4.25.3
qrcode==7.4.2

